CLIENT_ID = "685356081512-k89ps7iino08oqlc2bipvt73eqar3apo.apps.googleusercontent.com"
CLIENT_SECRET = "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"
REDIRECT_URI = "http://localhost:8000/oauth2callback"
# Groq AI Configuration
GROQ_API_KEY=your_groq_api_key_here

# VirusTotal Configuration (optional)
VT_API_KEY=your_virustotal_api_key_here
